{% extends 'base.html.twig' %}

{% block title %}Hello ReverseController!
{% endblock %}

{% block body %}
	<div class="container-sm w-75">
		{{ form(form) }}
			{% if stringReverse is not empty %}
				<div class="alert alert-success" role="alert">
					{{stringReverse}}
				</div>
			{% endif %}
		</div>
	{% endblock %}
