{% extends 'base.html.twig' %}

{% block title %}Questions de la FAQ
{% endblock %}

{% block body %}
	<div class="accordion" id="accordionExample">
		{% for question in questions %}
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingOne">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#response-{{question.id}}" aria-expanded="false" aria-controls="collapseOne">
						{{question.label}}
					</button>
				</h2>
				<div id="response-{{question.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						{{question.response}}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
