{% extends 'base.html.twig' %}

{% block title %}Questions de la FAQ
{% endblock %}

{% block body %}
	<div class="accordion container-sm" id="faq">
		{% include "question/_list.html.twig" %}
	</div>
{% endblock %}
