{% extends 'base.html.twig' %}

{% block title %}Categories de la FAQ
{% endblock %}

{% block body %}
	<div class="container-sm">
		<ul class="list-group">
			{% for category in categories %}
				<div class="d-flex">
					<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						{{category.label}}
						<span class="badge bg-primary rounded-pill">{{category.questions.count}}</span>
					</a>
					<a class="btn btn-primary m-1" href="{{path('category-edit',{id: category.id})}}" role="button">Editer</a>
				</div>

			{% endfor %}
		</ul>
	</div>
{% endblock %}
